@tailwind base;

h1 {
  @apply text-4xl font-bold text-black;
}
h2 {
  @apply text-xs font-medium text-grey;
}
h3 {
  @apply text-xs font-bold text-black;
}
h4 {
  @apply text-base font-bold text-black;
}
h5 {
  @apply mt-10 text-xs font-bold text-purple;
}
h6 {
  @apply text-xl font-medium text-light-blue;
}

input[type="text"],
[type="date"],
[type="email"],
[type="number"],
select {
  @apply mb-5 mt-2.5 h-12 rounded-md border border-light-grey px-5 text-sm font-bold text-black outline-purple active:border-purple;
}

@tailwind components;
@tailwind utilities;

:root {
  --purple: #7c5dfa;
  --purple-hover: #9277ff;
  --red: #ec5757;
  --red-hover: #ff9797;
  --dark-blue: #1e2139;
  --blue: #373b53;
  --light-blue: #7e88c3;
  --light-grey: #dfe3fa;
  --grey: #888eb0;
  --black: #0c0e16;
  --black2: #141625;
  --light-bg: #f8f8fb;
}
